/*--------bg animation--------*/

.boxes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.particle {
  position: fixed;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(225, 237, 255, 0.567);
  animation: moveParticle linear infinite;
  pointer-events: none;
}
@keyframes moveParticle {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-90vh) translateX(calc(-30vw + 1%));
    opacity: 0;
  }
}
